<h1 class="loginSession">Login</h1>
<form action="/api/session/login" method="POST" style="padding: 40px">
<div class="loginSession">
    <div>
      <label for="email">Email:</label>
      <input name="email" type="text">
      <label for="password">Password:</label>
      <input name="password" type="text">
    </div>
  </div>
  <br>
  <button type="submit">Log In</button>
  <br>
  <button><a href="/api/session/github">Login with Github</a></button>
  <br>
  <button><a href="/register">Registrate</a></button>
</form>